*.out
*.wasm
build
target
Cargo.lock
.vscode
**/out/*
*.iml
classes
*.class
.gradle
bin
cpp/cmake-build-debug
cpp/cmake-build-release
cmake-build-debug
cpp/cmake-build-relwithdebinfo/
*.stn
*.o
*.so
*.so.*
caches
daemon
**/props/workers
*.orig
*.pb.h
*.class
*.log
*.log.*
**/log/*
*.exe
*.pyc
out/*
*swp
.ninja*
build.ninja*
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
DartConfiguration.tcl
**/CMakeFiles/*
**/Testing/*
.cmake
CTestTestfile.*
cargo_test_results.xml
node_modules
package-lock.json
public
wit_bindgen
compile_commands.json